@model IEnumerable<WorkShop1.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" class="mb-3">
    <input type="text"
           name="title"
           value="@Context.Request.Query["title"]"
           placeholder="Title" />

    <input type="number"
           name="semester"
           value="@Context.Request.Query["semester"]"
           placeholder="Semester" />

    <input type="text"
           name="programme"
           value="@Context.Request.Query["programme"]"
           placeholder="Programme" />

    <select name="teacherId"
            class="form-select"
            asp-items="@(new SelectList(
                        ViewBag.Teachers,
                        "Id",
                        "FullName",
                        ViewBag.SelectedTeacherId))">
        <option value="">-- All teachers --</option>
    </select>


    <button type="submit">Filter</button>
</form>

   

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondTeacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstTeacher.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondTeacher.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
